﻿.tableStyle {
		cellspacing:0; 
		cellpadding:4; 
		width:100px;
}

.ccy_decimal_number  {
		font-size: small;
		white-space: normal;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		text-align: right;
		border: 1px none #F1F1F5;
		white-space: nowrap;
}

.non_ccy_number {
	font-size: small;
	white-space: normal;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: right;
	border: 1px none #F1F1F5;
	white-space: nowrap;
	color:#0066CC;
}

.string_value_black {
	font-size: small;
	white-space: normal;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: right;
	border: 1px none #F1F1F5;
	white-space: nowrap;
	color:black;
}


/*
.normal_number  {
		font-size: small;
		white-space: normal;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		text-align: right;
		border: 1px none #F1F1F5;
		white-space: nowrap;
}
*/


.table_header_text   {
		border-style: solid none solid none;
		border-width: 1px;
		border-color: #F1F1F5;
		width: 20%;
		font-size: small;
		white-space: normal;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-weight: bold;
		text-align: right;
		white-space: nowrap;
		background-color: #DBEBFB;
}

.timeDataStyle {
	font-size: small; 
	white-space: normal; 
	font-family: Verdana, Geneva, Tahoma, sans-serif; 
	text-align: left; 
	border: 1px none #F1F1F5;
	white-space: nowrap;
}

.dataStyleTitle{
	font-weight:bold; 
	font-size: small; 
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 
	text-align: left; 
	border: 1px none #F1F1F5; 
	white-space: nowrap; 
}

.pairTableCell { 
	font-size: small;
	font-family: Verdana, Geneva, Tahoma, sans-serif; 
	text-align: left; 
	border: 1px none #F1F1F5; 
	white-space: nowrap;
	border-width: 0;
}


.grey_background {
	background-color: #F8F8F8;
}

.separator_row_with_line {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
}

.separator_no_line {
}


tr.extra_padding > td
{
 padding-top: 3px;
 padding-bottom: 3px;
}
